page-select-login {

    .bg-select-login {
        background: url('../../assets/images/maxresdefault.jpg') no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

}
